# オンプションについては、下記URLを参照
# https://kahoo.blog/mysql-string-charcode-utf8mb4-for-japanese-emoji/
# https://gihyo.jp/dev/serial/01/mysql-road-construction-news/0033

# 「角括弧[xxx]」はオプショングループを示す。
# MySQL関連プログラムによって、参照するオプショングループが異なる。

[mysqld]
# サーバーのデフォルト文字セット
# 
# テーブルは当オプションを参照する。
# 当オプション値は下記オプションに反映される。
# character_set_database
# character_set_server
# collation_database
# collation_server
character_set_server = utf8mb4

# サーバーのデフォルト照合順序
# 
# MySQL8.0からは標準で「utf8mb4_0900_ai_ci」が設定される。
# テーブルは当オプションを参照する。
# ・utf8mb4
# 文字コード。UTF8で、マルチバイトを4バイトとする文字コードになる。
# 通常、マルチバイトは3バイト。
# ・0900
# Unicodeのバージョン 9.00を示す。
# ・ai
# Accent Insensitiveの略称で、アクセントの違いを無視する。
# このため「は」と「ぱ」は等しいとして評価される。
# ・ci
# Case Insensitiveの略称で、大文字と小文字の違いを無視する。
# このため「あ」と「ぁ」は等しいと評価される。
collation_server = utf8mb4_0900_ai_ci

# MySQLサーバーのタイムゾーン
#
# 「SYSTEM」はホストマシンのタイムゾーン。
default-time-zone = SYSTEM

# ログファイルに書き込まれるメッセージのタイムゾーン
# 
# 「SYSTEM」はホストマシンのタイムゾーン。
log_timestamps = SYSTEM

# エラーログファイルパス
log-error = mysql-error.log

# スロークエリログを出力
# 
# 1は出力。
slow_query_log = 1

# スロークエリログパス
# 
# 相対パスではなく、フルパスで指定しないとDBが停止してコンテナも停止する。
# slow_query_log_file = mysql-slow.log
slow_query_log_file = /var/lib/mysql/mysql-slow.log

# スロークエリーの時間
# 
# 1秒以上のスロークエリーをスロークエリログに出力。
long_query_time = 1.0

# 「インデックスの効かないクエリー」をスロークエリーログに出力
#
# 0は出力しない。
log_queries_not_using_indexes = 0

# 実行されたSQLをログに出力
# 
# １は出力する。
general_log = 1

# 実行されたSQLを出力するログファイルパス
#
# 相対パスではなく、フルパスで指定しないとDBが停止してコンテナも停止する。
# general_log_file = mysql-general.log
general_log_file = /var/lib/mysql/mysql-general.log

[mysql]
# 当オプション値は下記オプションに反映される。
# character_set_client
# character_set_connection
# character_set_results
# collation_connection
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4